.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 50vw;
  margin: auto;
  margin-top: 5rem;
  padding: 1.3rem 1.3rem;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
.inputContainer {
  display: flex;
  height: fit-content;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.entertodo {
  width: 35vw;
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  border: 1px solid teal;
  outline: none;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: wheat;
  font-weight: 500;
  border-radius: 10px;
}
.inputContainer > * {
  margin: 5px;
}
.btn {
  border-radius: 10px;
  border: 1px solid green;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.lists {
  margin-top: 1.5rem;
  overflow-y: scroll;
}
.listContainer {
  display: flex;
  margin-top: 1rem;
  background-color: rgb(10, 49, 95);
  width: 40vw;
  padding: 0.7rem 0.7rem;
  border-radius: 10px;
  z-index: 1;
}
.message {
  color: white;
  font-size: 1.3rem;
  flex: 6;
}
.iconsContainer {
  display: flex;
  flex: 0.5;
}
.icons{
  cursor: pointer;
}
